@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-liner {
  background: linear-gradient(to right, #0D2D95, #0C63C6);
}

.ant-modal-content {
  background: linear-gradient(to right, rgba(235, 201, 130, 0.3), rgba(251, 248, 208, 0.3), rgba(225, 183, 84, 0.3), rgba(243, 200, 109, 0.3));
}

.custom-bg {
  background: linear-gradient(to right, rgba(235, 201, 130, 0.6), rgba(251, 248, 208, 0.6), rgba(225, 183, 84, 0.6), rgba(243, 200, 109, 0.6));
}
